body {
  padding: 50px 20px
}

.container {
  height: 100%;
  width: 100%;
  min-width: 380px;
  font-family: monospace;
  font-size: 20px;
  border-radius: 10px;
  background: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.controls {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items:flex-end;
  line-height: 0;
}

.display {
  width: 30%;
  height: 80px;
  background: blue;
  color: white;
  border-radius: 5px;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  padding: 5px;
}

.slider {
  width: 80px;
  height: 20px;
  background: black;
  border-radius: 5px;
  padding: 5%;
  cursor: pointer;
}

.slide-left {
  width: 50%;
  height: 100%;
  float: left;
  background: grey;
}

.slide-right {
  width: 50%;
  height: 100%;
  float: right;
  background: LightGreen;
}

.keyboard {
  margin: 10px;
  position: relative;
}

.black, .white {
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}
.black p, .white p {
  position: absolute;
  bottom: 0;
  left: 25%;
}

.black {
  position: absolute;
  width: 25px;
  height: 170px;
  border-color: black;
  color: white;
  background: black;
  transform: translateX(-50%);
  z-index: 1;
}

.white {
  width: 50px;
  height: 250px;
  background: white;
  position: relative;
}

.game > * {
  display: inline-block;
  margin-left: 7px;
  cursor: pointer;
}

.active {
  background: lightgreen;
}

.hint {
  background: lightblue;
}